<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/photos/create" method="post">
    <input type="submit" name="" value="">
    </form>
  </body>
</html>
